
@{
    ViewBag.Title = "Maestrias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using WebCujae.Models;
@model List<Specialty>

@section body
    {
    <main class="site-content" role="main">
        <!-- Service section -->
        <section id="service" style="margin-top:10%;">
            <div class="container">
                <div class="row">
                    <div class="sec-title text-center wow animated fadeInDown">
                        <h2>Maestria</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-success">
                        <div class="panel-heading">Listado de maestrias</div>
                        <div class="panel-body">
                            <div class="col-md-4">
                                <div class="input-group input-group-sm" style="margin-bottom:30px">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                    <input id="filtrar" type="text" class="form-control" placeholder="Busqueda">
                                </div>
                            </div>
                            <table class="table table-hover" style="shape-margin:100px;color:black">
                                <thead>
                                    <tr>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Zona</th>
                                        <th class="text-center">Categoría</th>
                                        <th class="text-center">Co Nombre</th>
                                        <th class="text-center">Co Teléfono</th>
                                        <th class="text-center">Co Correo</th>
                                </thead>
                                <tbody class="buscar">
                                    @foreach (var i in Model)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                @i.name
                                            </td>
                                            <td class="text-center">
                                                @i.zone
                                            </td>
                                            <td class="text-center">
                                                @i.category
                                            </td>
                                            <td class="text-center">
                                                @i.nameCoordinador
                                            </td>
                                            <td class="text-center">
                                                @i.phoneCoordinador
                                            </td>
                                            <td class="text-center">
                                                @i.mailCoordinador
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end portfolio section -->
        <!-- Testimonial section -->
        <!-- end Contact section -->
    </main>
    }
<script type="text/javascript">
      $(document).ready(function () {
          (function ($) {
              $('#filtrar').keyup(function () {
                  var rex = new RegExp($(this).val(), 'i');
                  $('.buscar tr').hide();
                  $('.buscar tr').filter(function () {
                      return rex.test($(this).text());
                  }).show();
              })
          }(jQuery));
      });
</script>

 

