@using WebCujae.Models
@model Award
@{
    ViewBag.Title = "addPremios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<SelectListItem> listArea = new List<SelectListItem>();
    listArea.Add(new SelectListItem
    {
        Text = "Mec",
        Value = "Mec"
    });
    listArea.Add(new SelectListItem
    {
        Text = "Quimica",
        Value = "Quimica",
        Selected = true
    });
    listArea.Add(new SelectListItem
    {
        Text = "CREA",
        Value = "CREA"
    });
    listArea.Add(new SelectListItem
    {
        Text = "CEMAT",
        Value = "CEMAT",
        Selected = true
    });
    listArea.Add(new SelectListItem
    {
        Text = "Arq",
        Value = "Arq"
    });
    listArea.Add(new SelectListItem
    {
        Text = "Civil",
        Value = "Civil",
        Selected = true
    });
    listArea.Add(new SelectListItem
    {
        Text = "Eléctrica",
        Value = "Eléctrica"
    });
    listArea.Add(new SelectListItem
    {
        Text = "Tele. Y Elect.",
        Value = "Tele. Y Elect.",
        Selected = true
    });
    listArea.Add(new SelectListItem
    {
        Text = "Automat. Y Biomedica",
        Value = "Automat. Y Biomedica"
    });
    listArea.Add(new SelectListItem
    {
        Text = "Industrial",
        Value = "Industrial",
        Selected = true
    });
    listArea.Add(new SelectListItem
    {
        Text = "Informática",
        Value = "Informática"
    });
}
@section bodyAdmin{
    <section class="content-header">
        <h1>
           Premios
            <small>registre un premio</small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Inserte un premio</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                @using (Html.BeginForm("addPremios", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <div class="form-group has-feedback">
                                                    <div class="col-sm-2">
                                                        @Html.LabelFor(m=>m.name)
                                                    </div>
                                                    <div class="col-md-4">
                                                        @Html.TextAreaFor(model => model.name, new { @class = "form-control" ,@rows="2"})
                                                        @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group has-feedback">
                                                    <div class="col-sm-2">
                                                        @Html.LabelFor(m => m.facultad)
                                                    </div>
                                                    <div class="col-md-4">
                                                        @Html.DropDownListFor(model => model.facultad, listArea, "-- Select facultad --", new { @class = "form-control select2" })
                                                    </div>
                                                    @Html.ValidationMessageFor(m => m.facultad, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="row">
                                                    <div class="form-group has-feedback">
                                                        <div class="col-sm-2">
                                                            @Html.LabelFor(m => m.autores)
                                                        </div>
                                                        <div class="col-md-4">
                                                            @Html.TextAreaFor(m => m.autores, new { @class = "form-control", @type = "text",@row="3" })
                                                            @Html.ValidationMessageFor(m => m.autores, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group has-feedback">
                                                        <div class="col-sm-2">
                                                            @Html.LabelFor(m => m.año)
                                                        </div>
                                                        <div class="col-md-4">
                                                            @Html.TextBoxFor(model => model.año, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.año, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-5 col-md-10">
                                                    <input type="submit" value="Guardar" class="btn btn-success" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                        </div>
                        <!-- /.box-footer-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    }
<script src="/Content/Admin/bower_components/select2/dist/js/select2.full.min.js"></script>
<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()
    })
</script>

