@using  WebCujae.Models
@model Specialty
@{
    ViewBag.Title = "AdminAddMaestrias";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<SelectListItem> listArea = new List<SelectListItem>();
    listArea.Add(new SelectListItem
    {
        Text = "Mec",
        Value = "Mec"
    });
    listArea.Add(new SelectListItem
    {
        Text = "Quimica",
        Value = "Quimica",
        Selected = true
    });
    listArea.Add(new SelectListItem
    {
        Text = "CREA",
        Value = "CREA"
    });
    listArea.Add(new SelectListItem
    {
        Text = "CEMAT",
        Value = "CEMAT",
        Selected = true
    });
    listArea.Add(new SelectListItem
    {
        Text = "Arq",
        Value = "Arq"
    });
    listArea.Add(new SelectListItem
    {
        Text = "Civil",
        Value = "Civil",
        Selected = true
    });
    listArea.Add(new SelectListItem
    {
        Text = "Eléctrica",
        Value = "Eléctrica"
    });
    listArea.Add(new SelectListItem
    {
        Text = "Tele. Y Elect.",
        Value = "Tele. Y Elect.",
        Selected = true
    });
    listArea.Add(new SelectListItem
    {
        Text = "Automat. Y Biomedica",
        Value = "Automat. Y Biomedica"
    });
    listArea.Add(new SelectListItem
    {
        Text = "Industrial",
        Value = "Industrial",
        Selected = true
    });
    listArea.Add(new SelectListItem
    {
        Text = "Informática",
        Value = "Informática"
    });

    List<SelectListItem> listCategory = new List<SelectListItem>();
    listCategory.Add(new SelectListItem
    {
        Text = "Excelencia",
        Value = "Excelencia"
    });
    listCategory.Add(new SelectListItem
    {
        Text = "Certificada",
        Value = "Certificada",
        Selected = true
    });
    listCategory.Add(new SelectListItem
    {
        Text = "Autorizada",
        Value = "Autorizada"
    });
}


@section bodyAdmin{
    <section class="content-header">
        <h1>
            Maestrias o Especialidades
            <small>publique una maestria o especialidad</small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Inserte una maestria o especialidad</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                             @using (Html.BeginForm("AdminAddMaestrias", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                             {
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-6">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-2">
                                                @Html.Label("Area")
                                            </div>
                                            <div class="col-md-4">
                                                @Html.DropDownListFor(model => model.zone, listArea, "-- Select area --", new { @class = "form-control select2" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.zone, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group has-feedback">
                                            <div class="col-sm-2">
                                                @Html.Label("Nombre")
                                            </div>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback ">
                                            <div class="row" style="margin-left:2px">
                                                <div class="col-sm-2">
                                                    @Html.RadioButtonFor(m => m.type, "especialidad", new { @class = "flat-red" })
                                                </div>
                                                <div class="col-sm-2">
                                                    @Html.Label("Especialidad")
                                                </div>
                                            </div>
                                            <div class="row" style="margin-left:2px">
                                                <div class="col-sm-2">
                                                    @Html.RadioButtonFor(m => m.type, "maestria", new { @class = "flat-red" })
                                                </div>
                                                <div class="col-sm-2">
                                                    @Html.Label("Maestria")
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <div class="col-md-1">
                                                @Html.Label("Categoria")
                                            </div>
                                            <div class="col-md-4">
                                                @Html.DropDownListFor(model => model.category, listCategory, "-- Select categoria --", new { @class = "form-control select2" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.category, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="row" style="margin-left:2px;">
                                            <div class="form-group has-feedback" style="margin-top:15px;">
                                                <div class="col-sm-2">
                                                    <label>Date</label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="input-group date">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        @Html.TextBoxFor(m => m.actualizacion, new { @id = "datepicker", @class = "form-control pull-right", @type = "text" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="col-xs-6">
                                            <div class="row">
                                                <div class="form-group has-feedback">
                                                    <div class="col-md-2">
                                                        @Html.LabelFor(m => m.Coordinates.name)
                                                    </div>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(m => m.Coordinates.name, new { @class = "form-control", @type = "text" })
                                                        <span class="fa fa-user form-control-feedback"></span>
                                                        @Html.ValidationMessageFor(m => m.Coordinates.name, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group has-feedback">
                                                    <div class="col-md-2">
                                                        @Html.LabelFor(m => m.Coordinates.phone)
                                                    </div>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(m => m.Coordinates.phone, new { @class = "form-control", @type = "text" })
                                                        <span class="fa fa-user form-control-feedback"></span>
                                                        @Html.ValidationMessageFor(m => m.Coordinates.phone, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group has-feedback">
                                                    <div class="col-md-2">
                                                        @Html.LabelFor(m => m.Coordinates.mail)
                                                    </div>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(m => m.Coordinates.mail, new { @class = "form-control", @type = "text" })
                                                        <span class="fa fa-user form-control-feedback"></span>
                                                        @Html.ValidationMessageFor(m => m.Coordinates.mail, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Log in" class="btn btn-success" />
                                            </div>
                                        </div>
                                        </div>
                                </div>
                             }
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                        </div>
                        <!-- /.box-footer-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    }
<script src="/Content/Admin/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="/Content/Admin/plugins/iCheck/icheck.min.js"></script>
<script>
 $(function () {
    //Initialize Select2 Elements
     $('.select2').select2()
     //Flat red color scheme for iCheck
     $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
         checkboxClass: 'icheckbox_flat-green',
         radioClass: 'iradio_flat-green'
     })
     $('#datepicker').datepicker({
         autoclose: true
     })

  })
</script>






